<%- include('../partials/header'); -%>
<body>
    <%- include('../partials/menu'); -%>
        </div>
    </div>
    <br>
    <div class="container">
       <h3 style="text-align: center;">Reviews</h3>
        <br>
        <form class="" action="/displayReview" method="post">
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-5">
                    <input class="form-control" type="text" name="name" placeholder="Enter Artist Name">
                </div>
                <div class="col-1">
                    <input class="btn btn-primary" type="submit" name="search" value = "Filter"/>
                </div>
            </div>
        </form>
        <br>
        <table class="table table-bordered" style="align-self: center;">
            <tr>
                <th class="align-bottom">Artist</th>
                <th class="align-bottom">Review</th>
                <th class="align-bottom">Review Date</th>
            </tr>
            <%- include('../partials/table'); %>
        </table>
    </div>


<%- include('../partials/footer'); -%>