<div class="bg-dark">
    <div class="container-fluid" style="padding: 1%; ">
        <div class="row">
            <div class="col-1"><a class="text-light h6 " href="/main">Home</a></div>
            <div class="col-1"><a class="text-light h6" href="/reviews">Reviews</a></div>
        </div>
